.container {
  border-top: 1px solid black;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  gap: 15px;
  margin: 5px 0;
}

.section {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  gap: 10px;
}

.img {
  flex: 1;
}

.details {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details p {
  padding-right: 5px;
}

.img img {
  width: 100%;
}
