* {
  padding: 0%;
  margin: 0%;
}

header {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  height: 12vh;
  margin: 0 30px;
  padding: 0 30px;
}

header div {
  display: flex;
  align-items: center;
}

header div h1 {
  margin-left: 15px;
}

.planetImg {
  height: 7vh;
}

nav ul {
  display: flex;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: larger;
  height: 12vh;
  text-decoration: none;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}
